<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/common-header::header('找回密码')">
</head>

<body class="body-white">


    <div class="container">
        <div class="form-horizontal m-regist findPwdDiv">
        	<input type="hidden" id="oldUrl" th:value="${oldUrl}" />
            <h3 class="title text-center">找回密码</h3>
            <div class="form-item">
                <label class="f-title must">账号</label>
                <input type="text"  name="loginName" id="loginName" placeholder="请输入您的账号" />
                <span class="u-error">账号不能为空</span>
            </div>
            <div class="form-item">
                <label class="f-title must">设置密码</label>
                <input type="password"  name="staticPassword" id="staticPassword" placeholder="请输入您的密码" />
                <span class="u-error">密码不能为空</span>
            </div>
            <div class="form-item">
                <label class="f-title must">确认密码</label>
                <input type="password"  name="staticPassword1" id="staticPassword1" placeholder="请再次输入您的密码" />
                <span class="u-error" >确认密码不能为空</span>
            </div>
            <div class="form-item">
                <label class="f-title must">验证码</label>
                <input type="text" class="code" name="code" id="code"/>
                <div class="code-img">
                    <input type="button" value="发送验证码" id="sendMailButton"/>
                </div>
                <span class="js-email" style="display: none;" id="code_tip">验证码已发送至邮箱</span>
                <span class="u-error" id="code_error">验证码不能为空</span>
            </div>
            <div class="form-item">
                <label class="f-title"></label>
                <a class="btn large btn-green dofind" >找回</a>
            </div>
        </div>
    </div>

    <!-- 脚本 -->
    <script src="/js/base/jquery/jquery.min.js" th:src="@{${CONTEXT_STATIC_PATH}+'/js/base/jquery/jquery.min.js?'+${version}}"></script>
	<script src="/js/base/bootstrap/bootstrap.min.js" th:src="@{${CONTEXT_STATIC_PATH}+'/js/base/bootstrap/bootstrap.min.js?'+${version}}"></script>
	<script src="/js/base/respond/twui.js" th:src="@{${CONTEXT_STATIC_PATH}+'/js/base/respond/twui.js?'+${version}}"></script>
	<script src="/js/base/seajs/sea.min.js" th:src="@{${CONTEXT_STATIC_PATH}+'/js/base/seajs/sea.min.js?'+${version}}"></script>
    <!-- /脚本 -->

    <script th:inline="javascript">
    	var BASE_USER_LANGUAGE = 'zh_cn';
    	
        seajs.config({
    	    base: (CONTEXT_STATIC_PATH ? CONTEXT_STATIC_PATH : CONTEXT_PATH) + "/js",
    	});
	    seajs.use('lang/zh_cn');
	    seajs.use("base/core/promote");
    	seajs.use(['module/user/findPassword']);
        
    </script>

</body>

</html>