<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianwen.springcloud.microservice.base.dao.NavigationMapper">

    <!-- 分页 -->
    <sql id="sqlFragment_pagination">
        <if test="numPerPage != null">
            limit #{numPerPage}
        </if>
        <if test="start != null">
            offset #{start}
        </if>
    </sql>

    <!-- 查询条件 -->
    <sql id="sqlFragment_searchCriteria">
        <if test="oredCriteria != null and oredCriteria.size != 0">
            <trim prefix="and(" suffix=")">
                <foreach collection="oredCriteria" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </trim>
        </if>
    </sql>

    <!-- 查询用户信息列表 -->
    <select id="getList" parameterType="java.util.Map"
            resultType="com.tianwen.springcloud.microservice.base.entity.Navigation">
        select t0.naviid, t0.schoolsection as schoolsectionid,
        t0.subjectid,
        t0.bookmodel as bookmodelid,
        t0.editiontypeid,
        t0.status,
        t0.producttype,
        (select t1.dictname from t_e_sys_dict_item t1 where t0.schoolsection = t1.dictvalue and t1.dicttypeid = 'SCHOOL_SECTION' and t1.lang = #{lang}) as schoolsection,
        (select t2.dictname from t_e_sys_dict_item t2 where t0.subjectid = t2.dictvalue and t2.dicttypeid = 'SUBJECT' and t2.lang = #{lang}) as subject,
        (select t4.dictname from t_e_sys_dict_item t4 where t0.bookmodel = t4.dictvalue and (t4.dicttypeid = 'TERM' or t4.dicttypeid = 'VOLUME') and t4.lang = #{lang}) as bookmodel,
        (select t5.dictname from t_e_sys_dict_item t5 where t0.editiontypeid = t5.dictvalue and t5.dicttypeid = 'EDITION' and t5.lang = #{lang}) as editiontype
        from t_e_subjectnavi t0
        where 1 = 1
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||t0.schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
          <if test="!subjectid.isEmpty()">
            and #{subjectid} ilike '%,'||t0.subjectid||',%'
          </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||t0.bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||t0.editiontypeid||',%'
            </if>
        </if>
        <if test="status != null">
            <if test="!status.isEmpty()">
                and t0.status = #{status}
            </if>
        </if>
        <if test="producttype != null">
            <if test="!producttype.isEmpty()">
                and t0.producttype = #{producttype}
            </if>
        </if>
        order by t0.schoolsection asc, t0.subjectid asc, t0.editiontypeid asc, t0.bookmodel asc
        <if test="numPerPage != null">
            limit #{numPerPage}
        </if>
        <if test="start != null">
            offset #{start}
        </if>
    </select>

    <select id="getCatalogList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.Navigation">
        select navitbl.schoolsection as schoolsectionid,
        navitbl.subjectid,
        navitbl.bookmodel as bookmodelid,
        booktbl.gradeid,
        booktbl.bookid as bookid,
        navitbl.editiontypeid,
        navitbl.sequence,
        navitbl.status,
        (select t1.dictname from t_e_sys_dict_item t1 where navitbl.schoolsection = t1.dictvalue and t1.dicttypeid = 'SCHOOL_SECTION'
        <if test="lang != null"><if test="!lang.isEmpty()">and t1.lang = #{lang}</if></if> limit 1) as schoolsection,
        (select t2.dictname from t_e_sys_dict_item t2 where navitbl.subjectid = t2.dictvalue and t2.dicttypeid = 'SUBJECT'
        <if test="lang != null"><if test="!lang.isEmpty()">and t2.lang = #{lang}</if></if>limit 1) as subject,
        (select t3.dictname from t_e_sys_dict_item t3 where booktbl.gradeid = t3.dictvalue and t3.dicttypeid = 'SCHOOL_SECTION'
        <if test="lang != null"><if test="!lang.isEmpty()">and t3.lang = #{lang}</if></if>limit 1) as grade,
        (select t4.dictname from t_e_sys_dict_item t4 where navitbl.bookmodel = t4.dictvalue and (t4.dicttypeid = 'VOLUME' or t4.dicttypeid = 'TERM')
        <if test="lang != null"><if test="!lang.isEmpty()">and t4.lang = #{lang}</if></if>limit 1) as bookmodel,
        (select t5.dictname from t_e_sys_dict_item t5 where navitbl.editiontypeid = t5.dictvalue and t5.dicttypeid = 'EDITION'
        <if test="lang != null"><if test="!lang.isEmpty()">and t5.lang = #{lang}</if></if>limit 1) as editiontype,
        catalogtbl.parentcatalogid, catalogtbl.catalogid, catalogtbl.catalogname
        from t_e_subjectnavi navitbl
        left join t_e_book booktbl on booktbl.naviid = navitbl.naviid
        left join t_e_teachmaterial_catalog catalogtbl on catalogtbl.bookid = booktbl.bookid
        where catalogtbl.catalogid is not null
        <if test="parentcatalogid != null and !parentcatalogid.isEmpty()">
            and catalogtbl.parentcatalogid = #{parentcatalogid}
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||navitbl.schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||navitbl.subjectid||',%'
            </if>
        </if>
        <if test="gradeid != null">
            <if test="!gradeid.isEmpty()">
                and #{gradeid} ilike '%,'||booktbl.gradeid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||navitbl.bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||navitbl.editiontypeid||',%'
            </if>
        </if>
        <if test="status != null">
            <if test="!status.isEmpty()">
                and status = #{status}
            </if>
        </if>
        <if test="producttype != null">
            <if test="!producttype.isEmpty()">
                and producttype = #{producttype}
            </if>
        </if>
      order by catalogtbl.bookid asc, catalogtbl.parentcatalogid asc, catalogtbl.sequence asc
    </select>

    <select id="getByExample" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.Navigation">
        select t0.naviid, t0.schoolsection as schoolsectionid,
        t0.subjectid,
        t0.bookmodel as bookmodelid,
        t0.editiontypeid,
        t0.status,
        (select t1.dictname from t_e_sys_dict_item t1 where t0.schoolsection = t1.dictvalue and t1.dicttypeid = 'SCHOOL_SECTION' and t1.lang = #{lang}) as schoolsection,
        (select t2.dictname from t_e_sys_dict_item t2 where t0.subjectid = t2.dictvalue and t2.dicttypeid = 'SUBJECT' and t2.lang = #{lang}) as subject,
        (select t4.dictname from t_e_sys_dict_item t4 where t0.bookmodel = t4.dictvalue and (t4.dicttypeid = 'TERM' or t4.dicttypeid = 'VOLUME') and t4.lang = #{lang}) as bookmodel,
        (select t5.dictname from t_e_sys_dict_item t5 where t0.editiontypeid = t5.dictvalue and t5.dicttypeid = 'EDITION' and t5.lang = #{lang}) as editiontype
        from t_e_subjectnavi t0
        where 1 = 1
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||t0.schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||t0.subjectid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||t0.bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||t0.editiontypeid||',%'
            </if>
        </if>
        <if test="producttype != null">
            <if test="!producttype.isEmpty()">
                and t0.producttype = #{producttype}
            </if>
        </if>
        offset 0 limit 1
    </select>

    <select id="getCount" parameterType="java.util.Map"
            resultType="Integer">
        select count(*) from (select t0.*
        from t_e_subjectnavi t0
        where 1 = 1
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and schoolsection = #{schoolsectionid}
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and subjectid = #{subjectid}
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and bookmodel = #{bookmodelid}
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and editiontypeid = #{editiontypeid}
            </if>
        </if>
        <if test="status != null">
            <if test="!status.isEmpty()">
                and status = #{status}
            </if>
        </if>
        <if test="producttype != null">
            <if test="!producttype.isEmpty()">
                and producttype = #{producttype}
            </if>
        </if>) tbl
    </select>

    <select id="getSchoolSectionList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SCHOOL_SECTION'
        and parentdictid = '0'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        order by sortno asc
    </select>

    <select id="getAllDicItems"
            parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        order by sortno asc
    </select>

    <select id="getAllSubjectNavi"
            parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.Navigation">
        select t0.*
        from t_e_subjectnavi t0
    </select>
<!--Author : GOD-->
    <!--Date Start : 2019-2-2 6:40 PM-->
    <!--Reason : Bug 502-->
    <select id="getSubjectList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SUBJECT'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and parentdictid in (select dictid from t_e_sys_dict_item where dictvalue = #{schoolsectionid} and dicttypeid = 'SCHOOL_SECTION'
                <if test="lang != null">
                    <if test="!lang.isEmpty()">
                        and lang = #{lang}
                    </if>
                </if>
                )
            </if>
        </if>
        <if test="schoolsectionid == null">
            and ((parentdictid = '100000000060') or (parentdictid = '100000000070') or (parentdictid = '100000000080'))
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        order by sortno asc
    </select>
    <!--Author : GOD-->
    <!--Date End : 2019-2-2 7:30 PM-->
    <!--Reason : Bug 502-->
    <select id="getGradeList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SCHOOL_SECTION'
        and parentdictid != '0'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and parentdictid in (select dictid from t_e_sys_dict_item where #{schoolsectionid} ilike '%,'||dictvalue||',%' and dicttypeid = 'SCHOOL_SECTION')
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        order by sortno asc
    </select>

    <select id="getEditionTypeList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'EDITION'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        order by sortno asc
    </select>

    <select id="getBookModelList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'VOLUME'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        order by sortno asc
    </select>

    <select id="getNaviSchoolSectionList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and parentdictid = '0'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        and dictvalue in
        (select schoolsection
        from t_e_subjectnavi)
        order by sortno asc
    </select>

    <select id="getNaviSubjectList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        and dictvalue in
        (select subjectid
        from t_e_subjectnavi
        where 1 = 1
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <select id="getNaviGradeList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SCHOOL_SECTION'
        and parentdictid != '0'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and parentdictid in (select dictid from t_e_sys_dict_item where #{schoolsectionid} ilike '%,'||dictvalue||',%' and dicttypeid = 'SCHOOL_SECTION')
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        order by sortno asc
    </select>

    <select id="getNaviEditionTypeList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'EDITION'
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        and dictvalue in
        (select editiontypeid
        from t_e_subjectnavi
        where 1 = 1
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||',%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <select id="getNaviBookModelList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and (dicttypeid = 'TERM' or dicttypeid = 'VOLUME')
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        and dictvalue in
        (select bookmodel
        from t_e_subjectnavi
        where 1 = 1
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||editiontypeid||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <select id="getCatalogSchoolSectionList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and parentdictid = '0'
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        and dictvalue in
        (select navitbl.schoolsection
        from t_e_subjectnavi navitbl
        left join t_e_book booktbl on booktbl.naviid = navitbl.naviid
        where 1 = 1 and navitbl.naviid in (select naviid from t_e_book)
        <if test="gradeid != null">
            <if test="!gradeid.isEmpty()">
                and #{gradeid} ilike '%,'||gradeid||',%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||editiontypeid||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <select id="getCatalogSubjectList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        and dictvalue in
        (select navitbl.subjectid
        from t_e_subjectnavi navitbl
        left join t_e_book booktbl on booktbl.naviid = navitbl.naviid
        where 1 = 1 and navitbl.naviid in (select naviid from t_e_book)
        <if test="gradeid != null">
            <if test="!gradeid.isEmpty()">
                and #{gradeid} ilike '%,'||gradeid||',%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||editiontypeid||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <select id="getCatalogGradeList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SCHOOL_SECTION'
        and parentdictid != '0'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        and dictvalue in
        (select booktbl.gradeid
        from t_e_subjectnavi navitbl
        left join t_e_book booktbl on booktbl.naviid = navitbl.naviid
        where 1 = 1 and navitbl.naviid in (select naviid from t_e_book)
        <if test="gradeid != null">
            <if test="!gradeid.isEmpty()">
                and #{gradeid} ilike '%,'||gradeid||',%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||editiontypeid||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <select id="getCatalogEditionTypeList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'EDITION'
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        and dictvalue in
        (select navitbl.editiontypeid
        from t_e_subjectnavi navitbl
        left join t_e_book booktbl on booktbl.naviid = navitbl.naviid
        where 1 = 1 and navitbl.naviid in (select naviid from t_e_book)
        <if test="gradeid != null">
            <if test="!gradeid.isEmpty()">
                and #{gradeid} ilike '%,'||gradeid||',%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||editiontypeid||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <select id="getCatalogBookModelList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and (dicttypeid = 'TERM' or dicttypeid = 'VOLUME')
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
        and dictvalue in
        (select navitbl.bookmodel
        from t_e_subjectnavi navitbl
        left join t_e_book booktbl on booktbl.naviid = navitbl.naviid
        where 1 = 1 and navitbl.naviid in (select naviid from t_e_book)
        <if test="gradeid != null">
            <if test="!gradeid.isEmpty()">
                and #{gradeid} ilike '%,'||gradeid||',%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||editiontypeid||',%'
            </if>
        </if>)
        order by sortno asc
    </select>

    <delete id="remove" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation">
        delete from t_e_subjectnavi
        where 1 = 1
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and #{schoolsectionid} ilike '%,'||schoolsection||',%'
            </if>
        </if>
        <if test="subjectid != null">
            <if test="!subjectid.isEmpty()">
                and #{subjectid} ilike '%,'||subjectid||',%'
            </if>
        </if>
        <if test="bookmodelid != null">
            <if test="!bookmodelid.isEmpty()">
                and #{bookmodelid} ilike '%,'||bookmodel||',%'
            </if>
        </if>
        <if test="editiontypeid != null">
            <if test="!editiontypeid.isEmpty()">
                and #{editiontypeid} ilike '%,'||editiontypeid||',%'
            </if>
        </if>
    </delete>

    <select id="getByNaviId" parameterType="String" resultType="com.tianwen.springcloud.microservice.base.entity.Navigation">
        SELECT
            tbl.schoolsection AS schoolsectionid,
            tbl.subjectid,
            tbl.editiontypeid,
            tbl.bookmodel AS bookmodelid,
            (select t1.dictname from t_e_sys_dict_item t1 where tbl.schoolsection = t1.dictvalue and t1.dicttypeid = 'SCHOOL_SECTION' and t1.lang = #{lang}) as schoolsection,
            (select t2.dictname from t_e_sys_dict_item t2 where tbl.subjectid = t2.dictvalue and t2.dicttypeid = 'SUBJECT' and t2.lang = #{lang}) as subject,
            (select t4.dictname from t_e_sys_dict_item t4 where tbl.bookmodel = t4.dictvalue and (t4.dicttypeid = 'TERM' or t4.dicttypeid = 'VOLUME') and t4.lang = #{lang}) as bookmodel,
            (select t5.dictname from t_e_sys_dict_item t5 where tbl.editiontypeid = t5.dictvalue and t5.dicttypeid = 'EDITION' and t5.lang = #{lang}) as editiontype
        FROM
            t_e_subjectnavi tbl
        WHERE
            naviid=#{naviid}
    </select>
</mapper>
